#page-landing {
    width     : 100vw;
    height    : 100vh;
    background: linear-gradient(329.54deg, #808080 0%, #8f8f8f 100%);

    align-items    : center;
}

input{
    margin: 50px 0 0 20px;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    border: 0;
    background-color: azure;
}

button{
    margin-left: 20px;
    border-radius: 5px;

    height: 40px;
    width: 100px;
    background-color:rgb(45, 95, 45);
    color: rgb(214, 211, 211);
    border: 0;
}