#main {
  position:absolute;
  top:35%;
  left: 22%;
  align-items: center;
  justify-content: center;
  column-count: 3;
}

#calc {
    background: #FFFFFF;
    border: 1px solid #D3E2E5;
    border-radius: 20px;
    margin-left: 20px;
    padding: 30px;
    width: 270px;
    text-align: center;
}


#calc1 {
  background: #FFFFFF;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  margin-left: 20px;
  padding: 30px;
  width: 270px;
  text-align: center;
  margin-top: 10px;
}

a.teste {
  background-color: #FFFFFF;
  display: block;
  height: 100%;
  width: 200px;
  text-decoration: none;
  text-align: center;
  }